<table>
        <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Delete</th>
        <th>Update</th>
        </tr>
    
    {% for author in authors %}

    <tr>
    <td>{{author.id}}</td>
    <td>{{author.username}}</td>
    <td>{{author.email}}</td>
    <td><a href='{{ path ('remove_author' , { 'id':author.id } ) }}'>delete</a><td>
    <td><a href='{{ path ('app_author_update' , { 'id':author.id } ) }}'>update</a><td>
    
    </tr>

    {% endfor %}
    </table>
